This project need some python libraries. 

1. pillow (PIL) for Image :  python3 -m pip install pillow
2. numpy for array operations : python3 -m pip install numpy
3. opencv for image operations : pip install opencv-python